Some bug fixes required to parse some MIB files

First change is required because in case we have EXPORTS parser goes inn infinite loop. Also this change must be applied to SmiGrammar.jcc

Second change is required in order to check for optional node list and check it only if it is present.

com/mod_snmp/SmiParser/Grammar/SmiGrammar.java

@@ -389,7 +389,7 @@
     Token tok;
     while ( true ) {
         tok = getToken(1);
-        if ((tok.kind == SEMI_COLON_T) && (tok.kind == IMPORTS_T)) {
-        if ((tok.kind == SEMI_COLON_T) || (tok.kind == IMPORTS_T)) {
           break;
       }
       if (tok.kind != COMMA_T) {

com/mod_snmp/SmiParser/Semantics/SemanticsCheck.java
@@ -536,13 +536,17 @@
             if (n.module_id.present()) {
                 msg = "not defined in this module '" + n.module_id + "'";
                 table = ModuleHashTable.lookup(n.module_id.toString());
-                checkVariablesDefined(((NodeList)n.mandatory_part.node),
-                      ModuleHashTable.lookup(n.module_id.toString()),
-                      msg);
-                if (n.mandatory_part.present()) {
-                    checkVariablesDefined(((NodeList)n.mandatory_part.node),
-                        ModuleHashTable.lookup(n.module_id.toString()),
-                        msg);
-                }
           } else {
               msg = "not defined in this module";
               table = current;
-                checkVariablesDefined(((NodeList)n.mandatory_part.node));
-                if (n.mandatory_part.present()) {
-                    checkVariablesDefined(((NodeList)n.mandatory_part.node));
-                }
           }
           if (n.compliance_part.present()) {
               Enumeration e = n.compliance_part.elements();


Why do you need to use (process) exports?


I don't need to use it. It is in the MIB file that I try to parse.

Also there is another change to:

exports.addNode(makeNodeToken(tok));

has to be changed to :

exports.addNode(Identifier.Type(makeNodeToken(tok)));

This is needed to make checkVariablesDefined happy because it casts each 
node to Identifier.

I'm trying to parse different MIB files and some of them relay on 
RFC1155. I have this file converted to SMI and it uses exports.

## 

Doychin Bondzhev
dSoft-Bulgaria Ltd.
PowerPro - billing & provisioning solution for Service providers
PowerStor - Warehouse & POS
http://www.dsoft-bg.com/
Mobile: +359888243116


Just note that the grammer definitions themselves are not parsed by the compiler. That is in case for SMIv2. RFC1155 is the older SMI version. See for instance, RFC 2578, the section  1.1. A Note on Terminology:

   For the purpose of exposition, the original Structure of Management
   Information, as described in RFCs 1155 (STD 16), 1212 (STD 16), and
   RFC 1215, is termed the SMI version 1 (SMIv1).  The current version
   of the Structure of Management Information is termed SMI version 2
   (SMIv2).

Maybe you should see if the MIB modules you want to read do not have an equivalent in SMIv2.


Yes I have all of them in SMI 2. But that does not change the fact that the
Grammar and after that Semantics check both contain some bugs and they are
in areas that probably are not used very ,often until now ;-)

The first one is visible when you try to process RMON-MIB. It fails with
NPE. The reason is that when there are compliance part in the MIB semantics
does not treat mandatory definitions as optional an tries to verify wihtout
first check that it exists.

The other problem is with above mentioned RFC1155. Fiirst is in the Grammar
where it checks for both semicolon and import and there is no way to have
both tokens at the same time ;-)

The other one is when exports elements are processed they must be added as
Identifiers in order to make Semantics check later happy. It expects tokens
in the exports node list to be Identifiers.

On Wed, Apr 2, 2014 at 8:19 AM, Harrie Hazewinkel
notifications@github.comwrote:

> Just note that the grammer definitions themselves are not parsed by the
> compiler. That is in case for SMIv2. RFC1155 is the older SMI version. See
> for instance, RFC 2578, the section 1.1. A Note on Terminology:
> 
> For the purpose of exposition, the original Structure of Management
> Information, as described in RFCs 1155 (STD 16), 1212 (STD 16), and
> RFC 1215, is termed the SMI version 1 (SMIv1). The current version
> of the Structure of Management Information is termed SMI version 2
> (SMIv2).
> 
> Maybe you should see if the MIB modules you want to read do not have an
> equivalent in SMIv2.
> 
> ## 
> 
> Reply to this email directly or view it on GitHubhttps://github.com/hhazewinkel/smi4j/issues/1#issuecomment-39289731
> .


Hi,

Another problem that I found is when you try to parse MIB that defines 
TRAP-TYPE later when MibTree is build it fails with 
ArrayIndexOutOfBounds in buildMibTreeHierarchy. It incorrectly assumes 
that all that comes here as AssignmentObject is ObjectInfoIdentifier 
which has 2 or more elements in assignedValue. For ObjectInfoTrapType 
there is only one and it should not be processed by this method.

So I added a check before calling buildMibTreeHierarchy in 
MibTree.visit(AssignmentObject n) method:

if (n.info instanceof ObjectInfoTrapType) {
    return;
}

## 

Doychin Bondzhev
dSoft-Bulgaria Ltd.
PowerPro - billing & provisioning solution for Service providers
PowerStor - Warehouse & POS
http://www.dsoft-bg.com/
Mobile: +359888243116
